{{ define "css" }}
  <style>
    .border-bottom-radius-0 {
      border-bottom-left-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
    }
  </style>
  <style>
    .dataTables_scrollBody {
      height: 100%;
    }

    .token-icon {
      width: fit-content;
      padding: 0 0.15rem;
      display: flex;
      align-items: center;
    }
    .nav-item {
      margin: 0;
    }

    .header-col,
    .overview-header-col {
      background-color: var(--bg-color-light);
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 23px;
      backdrop-filter: blur(2px);
    }

    .token-balance-col {
      border-top: 1px solid var(--border-color);
      padding: 0.5rem 1rem;
    }

    .token-balance-col:nth-child(1),
    .token-balance-col:nth-child(2) {
      border-top: none;
    }

    .overview-col {
      border-top: 1px solid var(--border-color);
      padding: 1rem;
    }

    .overview-col:nth-child(1),
    .overview-col:nth-child(2) {
      border-top: none;
    }

    .overview-label,
    .overview-col,
    .token-balance-col,
    .address-tabs {
      font-weight: 400;
      font-size: 0.85rem;
      line-height: 23px;
      font-style: normal;
    }

    @media screen and (min-width: 820px) {
      .overview-label,
      .overview-col,
      .token-balance-col,
      .addres-tabs {
        font-size: 1rem;
        font-weight: 300;
      }
    }

    .header-address {
      font-size: 1.2rem;
    }

    .header-address .text-monospace {
      font-size: 0.81rem;
    }

    .qrcode-light {
      visibility: hidden;
    }

    .border-top {
      border-color: var(--border-color) !important;
    }

    @media screen and (min-width: 600px) {
      .header-address,
      .header-address .text-monospace,
      .fa-copy {
        font-size: 1.2rem;
      }
    }
    @media screen and (max-width: 360px) {
      .header-address .text-monospace {
        font-size: 0.7rem;
      }
    }
    @media screen and (max-width: 320px) {
      .header-address .text-monospace {
        font-size: 0.65rem;
      }
    }
    @media screen and (max-width: 294px) {
      .header-address .text-monospace {
        font-size: 0.6rem;
      }
    }

    [data-theme="dark"] .qrcode-light {
      display: none;
    }
    [data-theme="dark"] .qrcode-dark {
      display: inline-block !important;
      visibility: visible !important;
    }

    [data-theme="light"] .qrcode-dark {
      display: none;
    }

    [data-theme="light"] .qrcode-light {
      display: inline-block !important;
      visibility: visible !important;
    }

    .token-icon {
      min-width: 120px;
    }
    .token-holdings {
      min-width: 120px;
    }

    .tbl-col {
      padding: 0.5rem;
      border-top: var(--border-color) 1px solid;
    }

    .tbl-col-content {
      max-width: 210px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .token-balance-col {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .nav-link.dropdown-toggle::after {
      float: none !important;
    }
  </style>
{{ end }}

{{ define "js" }}
  <script>
    window.addEventListener("resize", function (ev) {
      if (window.innerWidth >= 820) {
        $("#overview-tab").tab("show")
      }
    })

    window.addEventListener("load", function (ev) {
      if (window.innerWidth >= 820) {
        $("#overview-tab").tab("show")
      }
    })

    function drawCallback() {
      formatTimestamps()
      $('[data-toggle="tooltip"]').tooltip()
    }

    {{ if .TransactionsTable.PagingToken }}
      setupInfiniteScroll({{.TransactionsTable.PagingToken}},'transactions-table', 'transactions-table-inf-scroll', 'transactions')
    {{ end }}

    {{ if .InternalTxnsTable.PagingToken }}
      setupInfiniteScroll({{.InternalTxnsTable.PagingToken}},'internalTxns-table', 'internalTxns-table-inf-scroll', 'internalTxns')
    {{ end }}

    {{ if .Zrc20Table.PagingToken }}
      setupInfiniteScroll({{.Zrc20Table.PagingToken}},'zrc20-table', 'zrc20-table-inf-scroll', 'zrc20')
    {{ end }}

    {{ if .Zrc721Table.PagingToken }}
      setupInfiniteScroll({{.Zrc721Table.PagingToken}},'zrc721-table', 'zrc721-table-inf-scroll', 'zrc721')
    {{ end }}

    {{ if .Zrc1155Table.PagingToken }}
      setupInfiniteScroll({{.Zrc1155Table.PagingToken}},'zrc1155-table', 'zrc1155-table-inf-scroll', 'zrc1155')
    {{ end }}

    {{ if .BlocksMinedTable.PagingToken }}
      setupInfiniteScroll({{.BlocksMinedTable.PagingToken}},'blocksMined-table', 'blocksMined-table-inf-scroll', 'blocks')
    {{ end }}

    {{ if .WithdrawalsTable.PagingToken }}
      setupInfiniteScroll({{.WithdrawalsTable.PagingToken}},'withdrawals-table', 'withdrawals-table-inf-scroll', 'withdrawals')
    {{ end }}

    function setupInfiniteScroll(pageToken, tableID, loadingID, urlPart) {
      var previousToken = ""
      var isLoading = false

      const infLoading = document.getElementById(loadingID)
      if (!infLoading) {
        return
      }
      const getTransactions = async (token) => {
        try {
          const res = await fetch(`${window.location.pathname}/${urlPart}?pageToken=${encodeURI(token)}`)
          const data = await res.json()

          if (data && data.data && data.pagingToken && data.pagingToken.length) {
            previousToken = pageToken
            pageToken = data.pagingToken

            // udpate the table
            for (let i = 0; i < data.data.length; i++) {
              const row = data.data[i]
              for (let j = 0; j < data.data[i].length; j++) {
                const col = data.data[i][j]
                const el = document.createElement("div")
                const content = document.createElement("div")
                content.classList.add("tbl-col-content")
                el.classList.add("tbl-col")
                content.innerHTML = col
                el.appendChild(content)
                infLoading.insertAdjacentElement("beforebegin", el)
              }
            }
            drawCallback()
          } else if (data.pagingToken === "") {
            infLoading.remove()
          } else if (data && data.data && data.data.length == 0) {
            infLoading.querySelector("span").innerText = "No entries found."
          }
          isLoading = false
        } catch (err) {
          console.error("error getting transactions: ", err)
          infLoading.querySelector("span").innerText = "Something went wrong fetching please try again another time."
          isLoading = false
        }
      }

      let optionsScroll = {
        root: null,
        rootMargin: "300px",
        threshold: 0,
      }

      const handleTableEnd = (entries, observer) => {
        for (let i = 0; i < entries.length; i++) {
          const entry = entries[i]
          if (entry.isIntersecting) {
            if (!isLoading) {
              isLoading = true
              getTransactions(pageToken)
            }
          }
        }
      }

      let observerScroll = new IntersectionObserver(handleTableEnd, optionsScroll)

      let transactionsLastElement = document.getElementById(loadingID)
      observerScroll.observe(transactionsLastElement)
    }

    activateTabbarSwitcher("address-tab-content", "addressTabs", "transactions")
  </script>
{{ end }}
{{ define "content" }}
  <div class="container mt-2">
    <div class="py-2 my-md-1">
      <div class="mb-1 mb-md-0 mt-md-3 d-flex justify-content-between">
        <h1 class="font-weight-bold header-address">
          <span class="mr-1">{{ if .Data.IsContract }}Contract{{ else }}Address{{ end }}</span>
          {{ if len .Data.ZnsName }}<span class="badge badge-pill badge-ens">{{ .Data.ZnsName }}</span>{{ end }}
        </h1>
      </div>
      <h4 class="h4 text-monospace mb-md-3 header-address text-truncate">
        {{ .Data.Address | formatAddressLong }}
        <span data-toggle="tooltip" title="View address QR Code" class="mx-1">{{ template "QRCode" . }}</span>
        <i class="fa fa-copy text-muted text-white p-1 mx-1" style="vertical-align: text-bottom; font-size: .95rem; border-radius: 35%; background-color: var(--shadow-light);" role="button" data-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="{{ fixAddressCasing .Data.Address }}"></i>
      </h4>
      <div>
        {{ if .Data.Metadata.Name }}<span class="badge badge-secondary text-light my-2">{{ .Data.Metadata.Name }}</span>{{ end }}
      </div>
    </div>

    <div class="mb-3 overview-grid" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); grid-auto-flow: row; gap: 1rem;">
      <div class="overview-content d-flex flex-column">
        <ul class="nav nav-tabs border-0 border-bottom-0 flex-grow-0" role="tablist">
          <li style="margin: 0;" class="nav-item" role="presentation">
            <a href="#overview" class="nav-link border-bottom-radius-0 border-bottom-0 active" id="overview-tab" data-toggle="tab" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
          </li>
          <li style="margin: 0; border-bottom: none;" class="nav-item d-lg-none" role="presentation">
            <a href="#tokensTab" class="nav-link border-bottom-radius-0 border-bottom-0" id="tokenTab-tab" data-toggle="tab" role="tab" aria-controls="tokensTab" aria-selected="true">Tokens</a>
            {{ if .Data.Metadata.ZRC20TokenLimitExceeded }}
              <i class="text-warning fas fa-exclamation-triangle" data-toggle="tooltip" title="Only the first {.Data.Metadata.ZRC20TokenLimit} are shown, determined by their order of address."></i>
            {{ end }}
          </li>
        </ul>
        <div class="tab-content flex-grow-1" id="overview-tab-content">
          <div class="tab-pane fade show active h-100" id="overview" role="tabpanel" aria-labelledby="overview-tab">
            <div style="border-top-left-radius: 0; border-top-right-radius: 0;" class="card h-100 shadow-none">
              <div class="card-body p-0 overview-card">
                <div style="display: grid; grid-template-columns: 2fr 4fr; grid-template-rows: auto;">
                  <div class="overview-col">
                    <span>Balance</span>
                  </div>
                  <div class="overview-col">
                    <span class="">
                      {{ .Data.Metadata.EthBalance | formatAddressEthBalance }}
                    </span>
                  </div>
                  <!--
                  <div class="overview-col">
                    <span> ZND Value</span>
                  </div>
                  <div class="overview-col">
                    <span class=""> {{ .Data.ZNDValue }}</span>
                  </div>
                  -->
                  <div class="overview-col">
                    <span>ZRC20 Tokens</span>
                  </div>
                  <div class="overview-col">
                    <span class="">
                      {{ len .Data.Metadata.Balances }}
                    </span>
                  </div>
                  <div class="overview-col">
                    <span class=""> Total Withdrawals </span>
                  </div>
                  <div class="overview-col">
                    <span class="">
                      <span data-toggle="tooltip" title="" data-original-title="This value is currently not available, it will be back soon">N/A <i class="far ml-1 fa-question-circle"></i></span>
                      <!-- #TODO: BIDS-2879
                      {{ .Data.WithdrawalsSummary }}
                      -->
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tokensTab" role="tabpanel" aria-labelledby="tokensTab-tab">
            {{ template "AddressTokenBalanceTabContent" . }}
          </div>
        </div>
      </div>
      <div class="overview-tab d-none d-lg-block">
        <ul class="nav nav-tabs border-0 border-bottom-0" role="tablist">
          <li style="margin: 0; border-bottom: none;" class="nav-item" role="presentation">
            <span class="nav-link border-bottom-radius-0 border-bottom-0 active" data-toggle="tab" role="tab" aria-controls="tokensTab" aria-selected="true"
              >Tokens
              {{ if .Data.Metadata.ZRC20TokenLimitExceeded }}
                <i class="text-warning fas fa-exclamation-triangle" data-toggle="tooltip" title="Only the first {{ .Data.Metadata.ZRC20TokenLimit }} are shown, determined by their order of address."></i>
              {{ end }}
            </span>
          </li>
        </ul>
        <div class="tab-pane fade active show" id="tokensTabLarge" role="tabpanel" aria-labelledby="tokensTab-tab">
          {{ template "AddressTokenBalanceTabContent" . }}
        </div>
      </div>
    </div>
    <div id="r-banner" info="{{ .Meta.Templates }}"></div>
    <div class="card shadow-none">
      <div class="card-header p-0">
        {{ template "AddressTabs" . }}
      </div>
      <div class="card-body px-0 py-0">
        <div class="tab-content" id="address-tab-content">
          <div class="tab-pane fade" id="transactionsTabPanel" role="tabpanel" aria-labelledby="transaction-tab">
            {{ template "AddressTransactionsTableGrid" .Data.TransactionsTable }}
          </div>
          {{ if len .Data.InternalTxnsTable.Data }}
            <div class="tab-pane fade" id="internalTxnsTabPanel" role="tabpanel" aria-labelledby="internalTxns-tab">
              {{ template "AddressInternalTransactionsGrid" .Data.InternalTxnsTable }}
            </div>
          {{ end }}
          {{ if len .Data.BlocksMinedTable.Data }}
            <div class="tab-pane fade" id="blocksTabPanel" role="tabpanel" aria-labelledby="blocks-tab">
              {{ template "AddressBlocksMinedGrid" .Data.BlocksMinedTable }}
            </div>
          {{ end }}
          {{ if len .Data.Zrc20Table.Data }}
            <div class="tab-pane fade" id="zrc20TxnsTabPanel" role="tabpanel" aria-labelledby="zrc20Txns-tab">
              {{ template "AddressZrc20TransactionsGrid" .Data.Zrc20Table }}
            </div>
          {{ end }}
          {{ if len .Data.Zrc721Table.Data }}
            <div class="tab-pane fade" id="zrc721TxnsTabPanel" role="tabpanel" aria-labelledby="zrc721Txns-tab">
              {{ template "AddressZrc721Grid" .Data.Zrc721Table }}
            </div>
          {{ end }}
          {{ if len .Data.Zrc1155Table.Data }}
            <div class="tab-pane fade" id="zrc1155TxnsTabPanel" role="tabpanel" aria-labelledby="zrc1155Txns-tab">
              {{ template "AddressZrc1155Grid" .Data.Zrc1155Table }}
            </div>
          {{ end }}
          {{ if len .Data.WithdrawalsTable.Data }}
            <div class="tab-pane fade" id="withdrawalsTabPanel" role="tabpanel" aria-labelledby="withdrawals-tab">
              {{ template "AddressWithdrawalsGrid" .Data.WithdrawalsTable }}
            </div>
          {{ end }}
        </div>
      </div>
    </div>
    {{ if .Data.QRCode }}
      {{ template "AddressQRCodeModal" . }}
    {{ end }}
  </div>
{{ end }}

{{ define "AddressTabs" }}
  <ul class="nav nav-pills border-0 border-bottom-0 address-tabs" role="tablist" id="addressTabs">
    <li style="margin: 0;" class="nav-item" role="presentation">
      <a class="nav-link border-bottom-radius-0 active" href="#transactions" id="transaction-tab" data-toggle="tab" role="tab" aria-controls="transactions" aria-selected="true">Transactions</a>
    </li>
    {{ range $i, $row := .Data.Tabs }}
      <li style="margin: 0;" class="nav-item" role="presentation">
        <a class="nav-link border-bottom-radius-0 " href="{{ $row.Href }}" id="{{ $row.Id }}-tab" data-toggle="tab" role="tab" aria-controls="{{ $row.Id }}" aria-selected="false">{{ $row.Text }}</a>
      </li>
    {{ end }}
  </ul>
{{ end }}

{{ define "AddressTransactionsTableGrid" }}
  <div id="transactions-table" style="display: grid; grid-template-columns: repeat(5, minmax(max-content, 1fr)) max-content repeat(2, minmax(max-content, 1fr)); overflow-x: auto;">
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky"><span>Hash</span></div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky"><span>Method</span></div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky"><span>Block</span></div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky"><span>Age</span></div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky"><span>From</span></div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky"><span></span></div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky"><span>To</span></div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky"><span>Value</span></div>

    {{ if len .Data }}
      {{ range $i, $row := .Data }}
        {{ range $j, $col := $row }}
          <div class="tbl-col">
            <div class="tbl-col-content">{{ $col }}</div>
          </div>
        {{ end }}
      {{ end }}
      {{ if gt (len .Data) 24 }}
        <div style="grid-column: 1 / 9;" id="transactions-table-inf-scroll" class="d-flex justify-content-center p-2">
          <span>loading...</span>
        </div>
      {{ end }}
    {{ else }}
      <div style="grid-column: 1 / 9;" id="transactions-table-inf-scroll" class="d-flex justify-content-center p-2">
        <div class="d-flex justify-content-center align-items-center flex-column">
          <div>
            <h5>No entries found.</h5>
          </div>
        </div>
      </div>
    {{ end }}

  </div>
{{ end }}

{{ define "AddressInternalTransactionsGrid" }}
  <div id="internalTxns-table" style="display: grid; grid-template-columns: repeat(4, minmax(min-content, 1fr)) max-content repeat(3, minmax(min-content, 1fr)); overflow-x: auto;">
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Hash</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Block</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Age</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">From</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky"></div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">To</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Value</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Type</div>

    {{ if len .Data }}
      {{ range $i, $row := .Data }}
        {{ range $j, $col := $row }}
          <div class="tbl-col">
            <div class="tbl-col-content">{{ $col }}</div>
          </div>
        {{ end }}
      {{ end }}
      {{ if gt (len .Data) 24 }}
        <div style="grid-column: 1 / 8;" id="internalTxns-table-inf-scroll" class="d-flex justify-content-center p-2">
          <span>loading...</span>
        </div>
      {{ end }}
    {{ else }}
      <div style="grid-column: 1 / 8;" id="internalTxns-table-inf-scroll" class="d-flex justify-content-center p-2">
        <div class="d-flex justify-content-center align-items-center flex-column">
          <div>
            <h5>No entries found.</h5>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}

{{ define "AddressBlocksMinedGrid" }}
  <div id="blocksMined-table" style="display: grid; grid-template-columns: repeat(4, minmax(min-content, 1fr)); overflow-x: auto;">
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Number</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Age</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Gas Usage</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Reward</div>

    {{ if len .Data }}
      {{ range $i, $row := .Data }}
        {{ range $j, $col := $row }}
          <div class="tbl-col">
            <div class="tbl-col-content">{{ $col }}</div>
          </div>
        {{ end }}
      {{ end }}
      {{ if gt (len .Data) 24 }}
        <div style="grid-column: 1 / 5;" id="blocksMined-table-inf-scroll" class="d-flex justify-content-center p-2">
          <span>loading...</span>
        </div>
      {{ end }}
    {{ else }}
      <div style="grid-column: 1 / 5;" id="blocksMined-table-inf-scroll" class="d-flex justify-content-center p-2">
        <div class="d-flex justify-content-center align-items-center flex-column">
          <div>
            <h5>No entries found.</h5>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}

{{ define "AddressZrc20TransactionsGrid" }}
  <div id="zrc20-table" style="display: grid; grid-template-columns: repeat(4, minmax(min-content, 1fr)) max-content repeat(3, minmax(min-content, 1fr)); overflow-x: auto;">
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Hash</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Block</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Age</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">From</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky"></div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">To</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Value</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Token</div>

    {{ if len .Data }}
      {{ range $i, $row := .Data }}
        {{ range $j, $col := $row }}
          <div class="tbl-col">
            <div class="tbl-col-content">{{ $col }}</div>
          </div>
        {{ end }}
      {{ end }}
      {{ if gt (len .Data) 24 }}
        <div style="grid-column: 1 / 8;" id="zrc20-table-inf-scroll" class="d-flex justify-content-center p-2">
          <span>loading...</span>
        </div>
      {{ end }}
    {{ else }}
      <div style="grid-column: 1 / 8;" id="zrc20-table-inf-scroll" class="d-flex justify-content-center p-2">
        <div class="d-flex justify-content-center align-items-center flex-column">
          <div>
            <h5>No entries found.</h5>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}

{{ define "AddressZrc721Grid" }}
  <div id="zrc721-table" style="display: grid; grid-template-columns: repeat(7, minmax(min-content, 1fr)); overflow-x: auto;">
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Hash</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Block</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Age</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">From</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">To</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Token Address</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Token ID</div>

    {{ if len .Data }}
      {{ range $i, $row := .Data }}
        {{ range $j, $col := $row }}
          <div class="tbl-col">
            <div class="tbl-col-content">{{ $col }}</div>
          </div>
        {{ end }}
      {{ end }}
      {{ if gt (len .Data) 24 }}
        <div style="grid-column: 1 / 7;" id="zrc721-table-inf-scroll" class="d-flex justify-content-center p-2">
          <span>loading...</span>
        </div>
      {{ end }}
    {{ else }}
      <div style="grid-column: 1 / 7;" id="zrc721-table-inf-scroll" class="d-flex justify-content-center p-2">
        <div class="d-flex justify-content-center align-items-center flex-column">
          <div>
            <h5>No entries found.</h5>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}

{{ define "AddressZrc1155Grid" }}
  <div id="zrc1155-table" style="display: grid; grid-template-columns: repeat(8, minmax(min-content, 1fr)); overflow-x: auto;">
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Hash</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Block</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Age</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">From</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">To</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Token Address</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Token ID</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Value</div>

    {{ if len .Data }}
      {{ range $i, $row := .Data }}
        {{ range $j, $col := $row }}
          <div class="tbl-col">
            <div class="tbl-col-content">{{ $col }}</div>
          </div>
        {{ end }}
      {{ end }}
      {{ if gt (len .Data) 24 }}
        <div style="grid-column: 1 / 8;" id="zrc1155-table-inf-scroll" class="d-flex justify-content-center p-2">
          <span>loading...</span>
        </div>
      {{ end }}
    {{ else }}
      <div style="grid-column: 1 / 8;" id="zrc1155-table-inf-scroll" class="d-flex justify-content-center p-2">
        <div class="d-flex justify-content-center align-items-center flex-column">
          <div>
            <h5>No entries found.</h5>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}

{{ define "AddressWithdrawalsGrid" }}
  <div id="withdrawals-table" style="display: grid; grid-template-columns: repeat(5, minmax(min-content, 1fr)); overflow-x: auto;">
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Epoch</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Slot</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Time</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Validator</div>
    <div style="z-index: 99; top: 0;" class="h5 mb-0 p-2 header-col position-sticky">Amount</div>
    {{ if len .Data }}
      {{ range $i, $row := .Data }}
        {{ range $j, $col := $row }}
          <div class="tbl-col">
            <div class="tbl-col-content">{{ $col }}</div>
          </div>
        {{ end }}
      {{ end }}
      {{ if gt (len .Data) 24 }}
        <div style="grid-column: 1 / 6;" id="withdrawals-table-inf-scroll" class="d-flex justify-content-center p-2">
          <span>loading...</span>
        </div>
      {{ end }}
    {{ else }}
      <div style="grid-column: 1 / 6;" id="withdrawals-table-inf-scroll" class="d-flex justify-content-center p-2">
        <div class="d-flex justify-content-center align-items-center flex-column">
          <div>
            <h5>No entries found.</h5>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}

{{ define "QRCode" }}
  <img class="cursor-pointer qrcode-light" data-toggle="modal" data-target="#qrcode-modal" style="visibility: hidden; margin-bottom: .3rem; width: calc(1.275rem + .3vw); height: calc(1.275rem + .3vw);" src="data:image/png;base64,{{ .Data.QRCode }}" alt="QR code for address Z{{ .Data.Address }}" />
  <img class="cursor-pointer qrcode-dark" data-toggle="modal" data-target="#qrcode-modal" style=" display: none; margin-bottom: .3rem; width: calc(1.275rem + .3vw); height: calc(1.275rem + .3vw);" src="data:image/png;base64,{{ .Data.QRCodeInverse }}" alt="QR code for address Z{{ .Data.Address }}" />
{{ end }}

{{ define "AddressQRCodeModal" }}
  <div class="modal fade" id="qrcode-modal" tabindex="-1" role="dialog" aria-labelledby="qrcode-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width: 95%; max-width: 400px; height: 375px; margin: 1.75rem auto;">
      <div class="modal-content">
        <div class="modal-header justify-content-center text-truncate">
          <span class="text-monospace text-truncate text-center font-weight-bold" style="font-size: 85%; width: 100%;">{{ fixAddressCasing .Data.Address }}</span>
        </div>
        <div class="modal-body d-flex justify-content-center">
          <img style="visibility: hidden;" class="qrcode-light" src="data:image/png;base64,{{ .Data.QRCode }}" alt="QR code for address {{ fixAddressCasing .Data.Address }}" />
          <img style="display: none" class="qrcode-dark" src="data:image/png;base64,{{ .Data.QRCodeInverse }}" alt="QR code for address {{ fixAddressCasing .Data.Address }}" />
        </div>
      </div>
    </div>
  </div>
{{ end }}

{{ define "AddressTokenBalanceTabContent" }}
  <div style="border-top-left-radius: 0; border-top-right-radius: 0;" class="card shadow-none flex-grow-1">
    <div class="card-body p-0 pb-1" style="overflow-y: auto; overflow-x: hidden; height: 250px;">
      <div class="position: relative" style="display: grid; grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);">
        <div style="top:0; z-index: 9;" class="position-sticky token-balance-col overview-header-col">
          <span>Symbol</span>
        </div>
        <div style="top:0; z-index: 9;" class="position-sticky token-balance-col overview-header-col">
          <span>Balance</span>
        </div>
        {{ if len .Data.Metadata.Balances }}
          {{ range .Data.Metadata.Balances }}
            {{ . | formatTokenBalance }}
          {{ end }}
        {{ else }}
          <div class="p-2" style="grid-column: 1 / 3; text-align: center;">No ZRC20 tokens found</div>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
