{{ define "preGenesis" }}
  <div class="row mx-auto align-items-center">
    <div class="col-md-6">
      <h2 class="h3">{{ trLang .Lang "p1_title" }}</h2>
      <p>{{ trLang .Lang "p1_text" }}</p>
    </div>
  </div>
  <div class="row mx-auto align-items-center">
    <div class="col-md-6 my-3">
      {{ template "genesisCountdown" .Data }}
    </div>
  </div>
  <div class="row mx-auto align-items-center">
    <div class="col-md-6 my-3">
      <h2 class="h3">{{ trLang .Lang "p3_title" }}</h2>
      <p>
        {{ trLang .Lang "p3_text" }}
      </p>
    </div>
    <div style="max-height: 250px" class="col-md-6 my-3 d-flex flex-column justify-content-center">
      {{ template "depositChart" .Data }}
    </div>
  </div>
  <div class="row mx-auto align-items-center justify-content-center">
    {{ template "depositDistributionChart" .Data }}
  </div>
{{ end }}
