{{ define "js" }}
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/heatmap.js"></script>
  <script src="https://code.highcharts.com/modules/data.js"></script>
  <script src="/js/highcharts-global-options.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script async src="/js/revive.min.js"></script>

<script>

	var data = {{.}}

	var dataArr = [];

	data.forEach((e) => {
		var t = new Date(e.ts * 1000)
		dataArr.push([new Date(t.toDateString()).getTime(), t.getHours(), e.fast / 1e9])
	})
	// console.log(dataArr)
	Highcharts.chart('gaspricehistory_heatmap', {
		chart: {
			type: 'heatmap',
			height: '600px'
		},

		title: {
			text: ''
		},


		xAxis: {
			type: 'datetime',
			labels: {
				align: 'left',
				x: 5,
				y: 14,
				format: '{value: %m-%e %A}'
			},
			showLastLabel: true,
			tickLength: 1
		},

		yAxis: {
			title: {
				text: null
			},
			labels: {
				format: '{value}:00'
			},
			minPadding: 0,
			maxPadding: 0,
			startOnTick: false,
			endOnTick: false,
			tickWidth: 1,
			reversed: true
		},

		colorAxis: {
			labels: {
				format: '{value:.1f}'
			},
			maxColor: '#ff4c2c',
			minColor: '#ffffff',
			startOnTick: false,
			endOnTick: false,
		},

		series: [{
			data: dataArr,
			borderWidth: 0,
			nullColor: '#EFEFEF',
			colsize: 24 * 36e5, // one day
			tooltip: {
				headerFormat: 'GasPrice<br/>',
				pointFormat: '{point.x:%e %b, %Y} {point.y}:00: <b>{point.value:.1f} GPlanck</b>'
			},
			dataLabels: {
				enabled: true,
				style: {
                    fontWeight: 'normal'
                },
				format: "{point.value:.1f}"
			}
		}]
	});

	var app = new Vue({
		el: '#app',
		delimiters: ['${', '}'], // Standard vuejs template syntax conflicts with golang template syntax
		components: {
		},
		data: {
			// default values so the page does not error on load
			page: { "code": 200, "data": { "rapid": 112778916426, "fast": 83000000000, "standard": 65990594109, "slow": 50000000000, "timestamp": 1634199354298 } },
			updateIn: -1,
			progress: 0,
			gasUsed: [
				{
					"title": "ZND",
					// "icon": "/img/defi/ethereum.png",
					"tag": [
						"Native"
					],
					"tx": [
						{
							"name": "Transfer",
							"gas": 21000
						}
					]
				},
				{
					"title": "USDT",
					// "icon": "/img/usdt.png",
					"tag": [
						"ZRC20"
					],
					"tx": [
						{
							"name": "Transfer",
							"gas": 46109,
							"url": "https://beaconcha.in/tx/0x060babb87d37e81a2d97244f2866709e4ee19b27b93a5b7356be048cd193eaed"
						}
					]
				}
			]
		},
		filters: {
			fromNow(date) {
				return moment(date).fromNow();
			},
			toFixed(number, digits) {
				return number.toFixed(digits)
			},
			toTerra(number) {
				return (number / 1e12).toFixed(1)
			},
			toPercentage(number, digits) {
				return (number * 100).toFixed(digits)
			},
			formatETH(number, digits) {
				return (number / 1e18).toFixed(digits)
			},
			formatGasUsed(number) {
				return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			},
			formatUSD(number) {
				if (typeof Intl !== 'undefined') {
					return new Intl.NumberFormat('en-US', { style: 'currency', currencyDisplay: 'narrowSymbol', currency: 'USD' }).format(number)
				}
				return number.toFixed(2)
			},
			toGasPrice(number, gasUsed, price, curr) {

				number = number / 1e18 * price * gasUsed
				if (typeof Intl !== 'undefined') {
					return new Intl.NumberFormat('en-US', { style: 'currency', currencyDisplay: 'narrowSymbol', currency: curr && curr !== "ETH" ? curr : "USD" }).format(number)
				}
				return number.toFixed(2)
			},
			formatGPlanck(number, digits) {
				let gplanck = number / 1e9
				if (gplanck < 1) {
					return "< 1"
				}
				return (gplanck).toFixed(digits)
			}
		},
		created: function () {
			this.tick();
			setInterval(function () {
				this.tick();
			}.bind(this), 1000);
		},
		methods: {
			tick: function () {
				if (this.updateIn <= 0) {
					$.getJSON('/gasnow/data', function (response) {
						// console.log('gasnow data', response)
						this.page = response;

						document.title = (response.data.rapid / 1e9).toFixed(0) + "-" + (response.data.fast / 1e9).toFixed(0) + " GPlanck | Zond (ZND) Mainnet - GasNow - " + new Date().getFullYear();
					}.bind(this));
					this.updateIn = 5;
					this.progress = 0;
				} else {
					this.updateIn--;
					this.progress = Math.round((5 - this.updateIn) * 100 / 5)
				}
			}
		}
	})
</script>
{{ end }}

{{ define "css" }}
  <style>
    [v-cloak] {
      visibility: hidden;
    }
  </style>
{{ end }}

{{ define "content" }}
  <div class="container mt-2">
    <div id="app" v-cloak>
      <div class="my-3">
        <div class="d-md-flex py-2 justify-content-md-between">
          <h1 class="h4 mb-1 mb-md-0">
            <span class="ml-1 mr-1"><i class="fas fa-gas-pump mr-2"></i>GasNow Gas Price Estimation</span>
          </h1>
          <nav class="d-flex flex-wrap-reverse flex-md-nowrap justify-content-center align-items-center" aria-label="breadcrumb">
            <!-- ads placeholder -->
            <ol style="white-space: nowrap;padding:0; background-color:transparent;" class="breadcrumb font-size-1 flex-nowrap mb-0" style="padding:0; background-color:transparent;">
              <li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
              <li class="breadcrumb-item">Tools</li>
              <li class="breadcrumb-item active" aria-current="page">Gas Price Oracle</li>
            </ol>
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p><span class="fas fa-lightbulb mr-1"></span> INFO: This tool predicts the ZOND gas price based on pending transactions in the ZOND mempool.</p>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-12">
          <!-- ads placeholder -->
        </div>
      </div>
      <div class="row">
        <div class="col">
          <hr />
        </div>
        <div class="col-auto">
          <h5>Gas Price</h5>
        </div>
        <div class="col">
          <hr />
        </div>
      </div>
      <div class="card-group">
        <div data-toggle="tooltip" data-placement="top" title="The median gas price of the current mining block" class="card text-center card-outline-info m-2">
          <div class="card-header card-outline-info"><i class="fas fa-rocket mr-1"></i>Rapid</div>
          <div class="card-body card-block">
            <h4 class="card-title">${ page.data.rapid | formatGPlanck(0) } GPlanck</h4>
            <p class="card-text text-muted text-center">{{ if .Mainnet }}${ page.data.rapid | toGasPrice(21000, page.data.price, page.data.currency)} |{{ end }} 15 Seconds</p>
          </div>
        </div>
        <div data-toggle="tooltip" data-placement="top" title="The tail gas price of the current mining block" class="card text-center card-outline-info m-2">
          <div class="card-header card-outline-info"><i class="fas fa-plane mr-1"></i>Fast</div>
          <div class="card-body card-block">
            <h4 class="card-title">${ page.data.fast | formatGPlanck(0) } GPlanck</h4>
            <p class="card-text text-muted text-center">{{ if .Mainnet }}${ page.data.fast | toGasPrice(21000, page.data.price, page.data.currency)} |{{ end }} 1 Minute</p>
          </div>
        </div>
        <div data-toggle="tooltip" data-placement="top" title="The gas price of the 500th transaction in the pending queue" class="card text-center card-outline-info m-2">
          <div class="card-header card-outline-info"><i class="fas fa-car-side mr-1"></i>Standard</div>
          <div class="card-body card-block">
            <h4 class="card-title">${ page.data.standard | formatGPlanck(0) } GPlanck</h4>
            <p class="card-text text-muted text-center">{{ if .Mainnet }}${ page.data.standard | toGasPrice(21000, page.data.price, page.data.currency)} |{{ end }} 3 Minutes</p>
          </div>
        </div>
        <div data-toggle="tooltip" data-placement="top" title="The gas price of the 1000th transaction in the pending queue" class="card text-center card-outline-info m-2">
          <div class="card-header card-outline-info"><i class="fas fa-bicycle mr-1"></i>Slow</div>
          <div class="card-body card-block">
            <h4 class="card-title">${ page.data.slow | formatGPlanck(0) } GPlanck</h4>
            <p class="card-text text-muted text-center">{{ if .Mainnet }}${ page.data.slow | toGasPrice(21000, page.data.price, page.data.currency)} |{{ end }} > 10 Minutes</p>
          </div>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" v-bind:style="'width: ' +progress + '%'" v-bind:aria-valuenow="progress" aria-valuemin="0" aria-valuemax="5">Update in: ${updateIn}s</div>
      </div>
      <div id="r-banner" info="{{ .Meta.Templates }}"></div>
      {{ if .Mainnet }}
        <div class="row mt-5">
          <div class="col">
            <hr />
          </div>
          <div class="col-auto">
            <h5>Estimated Cost of Transactions</h5>
          </div>
          <div class="col">
            <hr />
          </div>
        </div>
        <div style="height: 300px !important; overflow: scroll;">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Label</th>
                <th>Interaction</th>
                <th>Gas Used</th>
                <th>Rapid</th>
                <th>Fast</th>
              </tr>
            </thead>
            <tbody>
              <template v-for="(item, index) in gasUsed">
                <template v-for="(itemTx, indexTx) in item.tx">
                  <tr>
                    <td><img height="20" width="20" class="mr-1 mb-1" v-bind:src="item.icon" />${item.title}</td>
                    <td><span class="badge badge-success">${item.tag[0]}</span></td>
                    <td>${itemTx.name}</td>
                    <td>${itemTx.gas | formatGasUsed}</td>
                    <td>${page.data.rapid | toGasPrice(itemTx.gas, page.data.price, page.data.currency)}</td>
                    <td>${page.data.fast | toGasPrice(itemTx.gas, page.data.price, page.data.currency)}</td>
                  </tr>
                </template>
              </template>
            </tbody>
          </table>
        </div>
      {{ end }}
    </div>
    <div class="row mt-5">
      <div class="col">
        <hr />
      </div>
      <div class="col-auto">
        <h5>Gas Price History</h5>
      </div>
      <div class="col">
        <hr />
      </div>
    </div>
    <div id="gaspricehistory_heatmap"></div>
  </div>
{{ end }}
