<!-- <div class="form-check form-check-inline w-100 my-2">
              <label class="form-check-label mr-auto font-planckght-normal" for="finalityIssues">Finality issues</label>
              <input class="form-check-input checkbox-custom-size" type="checkbox" id="finalityIssues" value="" event="network_liveness_increased" {{ if .Network.IsSubscribed }}checked="true"{{ end }} />
            </div>
            <div class="form-check form-check-inline w-100 my-2">
              <label class="form-check-label mr-auto font-planckght-normal" for="finalityIssues">Finality issues</label>
              <input class="form-check-input checkbox-custom-size" type="checkbox" id="finalityIssues" value="" event="network_liveness_increased" {{ if .Network.IsSubscribed }}checked="true"{{ end }} />
            </div> -->
<!-- <div class="form-check form-check-inline w-100 my-2">
            <label class="form-check-label mr-auto font-planckght-normal" for="participationIssues">Participation issues</label>
            <input class="form-check-input checkbox-custom-size" type="checkbox" id="participationIssues" value="" event="network_participation_decreased" {{ if .Network.IsSubscribed }}checked="true"{{ end }}>
          </div> -->
