{{ define "js" }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bignumber.js/4.0.4/bignumber.min.js"></script>
  <script>
    $("input").on("keyup", function () {
      var id = $(this).attr("id")
      var valueString = $(this).val().replace(",", ".")

      if (valueString.endsWith(".")) {
        return
      }

      var value = new BigNumber(valueString)

      var planck = new BigNumber(0)

      switch (id) {
        case "planck":
          planck = value
          break
        case "kplanck":
          planck = value.mul(10e2)
          break
        case "mplanck":
          planck = value.mul(10e5)
          break
        case "gplanck":
          planck = value.mul(10e8)
          break
        case "tplanck":
          planck = value.mul(10e11)
          break
        case "pplanck":
          planck = value.mul(10e14)
          break
        case "quanta":
          planck = value.mul(10e17)
          break
        case "kquanta":
          planck = value.mul(10e20)
          break
        case "mquanta":
          planck = value.mul(10e23)
          break
        case "gquanta":
          planck = value.mul(10e26)
          break
        case "tquanta":
          planck = value.mul(10e29)
          break
      }

      $("#planck").val(planck.toFixed())
      $("#kplanck").val(planck.div(10e2).toFixed())
      $("#mplanck").val(planck.div(10e5).toFixed())
      $("#gplanck").val(planck.div(10e8).toFixed())
      $("#tplanck").val(planck.div(10e11).toFixed())
      $("#pplanck").val(planck.div(10e14).toFixed())
      $("#quanta").val(planck.div(10e17).toFixed())
      $("#kquanta").val(planck.div(10e20).toFixed())
      $("#mquanta").val(planck.div(10e23).toFixed())
      $("#gquanta").val(planck.div(10e26).toFixed())
      $("#tquanta").val(planck.div(10e29).toFixed())
    })
  </script>
{{ end }}

{{ define "css" }}
{{ end }}

{{ define "content" }}
  <div class="container mt-2">
    <div class="d-md-flex py-2 my-3 justify-content-md-between">
      <h1 class="h4 mb-1 mb-md-0"><i class="fas fa-sync mr-2"></i>Unit Converter</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb font-size-1 mb-0" style="padding:0; background-color:transparent;">
          <li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
          <li class="breadcrumb-item">Tools</li>
          <li class="breadcrumb-item active" aria-current="page">Unit Converter</li>
        </ol>
      </nav>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <p><span class="fas fa-lightbulb mr-1"></span> INFO: QRL uses a lot of different units like Planck, GPlanck and Quanta. You can use this tool to convert between them.</p>
      </div>
    </div>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <input class="form-control" id="planck" type="text" value="1000000000000000000" />
      <div class="input-group-append">
        <div class="input-group-text" style="width: 150px;">Planck</div>
      </div>
    </div>
    <div class="input-group mt-2 mr-sm-2 mb-sm-0">
      <input class="form-control" id="kplanck" type="text" value="1000000000000000" />
      <div class="input-group-append">
        <div class="input-group-text" style="width: 150px;">KPlanck</div>
      </div>
    </div>
    <div class="input-group mt-2 mr-sm-2 mb-sm-0">
      <input class="form-control" id="mplanck" type="text" value="1000000000000" />
      <div class="input-group-append">
        <div class="input-group-text" style="width: 150px;">MPlanck</div>
      </div>
    </div>
    <div class="input-group mt-2 mr-sm-2 mb-sm-0">
      <input class="form-control" id="gplanck" type="text" value="1000000000" />
      <div class="input-group-append">
        <div class="input-group-text bg-info text-white" style="width: 150px;">GPlanck</div>
      </div>
    </div>
    <div class="input-group mt-2 mr-sm-2 mb-sm-0">
      <input class="form-control" id="tplanck" type="text" value="1000000" />
      <div class="input-group-append">
        <div class="input-group-text" style="width: 150px;">TPlanck</div>
      </div>
    </div>
    <div class="input-group mt-2 mr-sm-2 mb-sm-0">
      <input class="form-control" id="pplanck" type="text" value="1000" />
      <div class="input-group-append">
        <div class="input-group-text" style="width: 150px;">PPlanck</div>
      </div>
    </div>
    <div class="input-group mt-2 mr-sm-2 mb-sm-0">
      <input class="form-control" id="quanta" type="text" value="1" />
      <div class="input-group-append">
        <div class="input-group-text bg-primary text-white" style="width: 150px;">Quanta</div>
      </div>
    </div>
    <div class="input-group mt-2 mr-sm-2 mb-sm-0">
      <input class="form-control" id="kquanta" type="text" value="0.001" />
      <div class="input-group-append">
        <div class="input-group-text" style="width: 150px;">KQuanta</div>
      </div>
    </div>
    <div class="input-group mt-2 mr-sm-2 mb-sm-0">
      <input class="form-control" id="mquanta" type="text" value="0.000001" />
      <div class="input-group-append">
        <div class="input-group-text" style="width: 150px;">MQuanta</div>
      </div>
    </div>
    <div class="input-group mt-2 mr-sm-2 mb-sm-0">
      <input class="form-control" id="gquanta" type="text" value="0.000000001" />
      <div class="input-group-append">
        <div class="input-group-text" style="width: 150px;">GQuanta</div>
      </div>
    </div>
    <div class="input-group mt-2 mr-sm-2 mb-sm-0">
      <input class="form-control" id="tquanta" type="text" value="0.000000000001" />
      <div class="input-group-append">
        <div class="input-group-text" style="width: 150px;">TQuanta</div>
      </div>
    </div>
  </div>
{{ end }}
